<template>
  <div
    class="fixed top-0 z-40 w-screen h-navbar-mobile lg:h-navbar-pc border-b bg-white flex items-center"
    :class="{ 'shadow border-transparent': scrolled }"
    @click="scrollToTop"
  >
    <div class="container mx-auto px-8">
      <div class="flex items-center justify-between">
        <div class="flex items-center pr-4">
          <NuxtLink to="/" class="flex-shrink-0 flex-1 font-bold text-xl" aria-label="Logo">
            <GreySoftwareLogo />
          </NuxtLink>
        </div>

        <!-- Mobile toggle -->
        <button class="md:hidden" @click="drawer">
          <IconMenu />
        </button>
        <Navbar />
      </div>
      <side-nav :isOpen="isOpen"  v-on:drawer ="drawer" />
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      isOpen: false,
      isOpenDrop: true,
      scrolled: 0,
    }
  },

  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },

  methods: {
    drawer() {
      this.isOpen = !this.isOpen
    },

    handleScroll() {
      this.scrolled = window.scrollY > 0
    },
    scrollToTop() {
      if (window.innerWidth >= 1280) {
        return
      }
      window.scrollTo(0, 0)
    },
  },

}
</script>
