<template>
  <section class="py-10 lg:pt-0">
    <div class="container px-8 mx-auto">
      <div class="w-full md:w-1/2 mb-4 pb-12 md:mb-0">
        <p class="text-2xl md:text-3xl text-black font-bold">How we're getting there</p>
        <p class="text-light text-base text-black py-2">
          We know it's not going to be easy, but we're excited about the future we're building.
        </p>
      </div>

      <div class="flex flex-wrap justify-end lg:justify-between -mx-4 -mb-16">
        <div v-for="feature in features" :key="feature.title" class="w-full md:w-1/2 lg:w-1/4 px-4 mb-16">
          <div class="flex">
            <span class="mr-4 mt-2">
              <img class="lg:w-12 w-8" src="/check.svg" alt="" />
            </span>
            <div>
              <h3 class="mb-2 text-xl md:text-2xl font-bold font-heading">
                {{ feature.title }}
              </h3>
              <p class="text-base text-black">
                {{ feature.desc }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      features: [
        {
          title: 'Open Software',
          desc: 'We’re creating open source software that people can trust, love and learn from.',
        },
        {
          title: 'Open Education',
          desc: 'We’re making openly accessible educational content for learners around the world.',
        },
        {
          title: 'Open Collaboration',
          desc: 'We allow students worldwide to practice by collaborating remotely with other open source developers.',
        },
      ],
    }
  },
}
</script>

<style></style>
