<template>
  <footer class="mx-auto relative bg-black-500 z-20 flex justify-between xs:items-start md:items-center px-4 py-12">
    <div>
      <NuxtLink to="/" class="flex-shrink-0 flex-1 font-bold text-xl" :aria-label="`Grey Software's Logo`">
        <GreySoftwareLight />
      </NuxtLink>
      <p class="mt-2 lg:hidden text-sm text-white">Made with Love, Joy, and Hope</p>
    </div>
    <div class="flex flex-wrap items-center lg:justify-center max-w-xs lg:max-w-none">
      <ul class="xs:flex-col flex flex-wrap flex-row-reverse">
        <li v-for="link in links" :key="link.text" class="mb-2 ml-4 md:mb-0">
          <a class="text-md lg:text-base text-white hover:text-gray-700" :href="link.href">{{ link.text }}</a>
        </li>
      </ul>
    </div>
    <div class="hidden lg:flex justify-end">
      <p class="text-md lg: text-base text-white">Made with Love, Joy, and Hope!</p>
    </div>
  </footer>
</template>

<script>
import GreySoftwareLogo from './global/GreySoftwareLogo.vue'
export default {
  components: { GreySoftwareLogo },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },
  },
  data() {
    return {
      links: [
        { text: 'Organization', href: 'https://org.grey.software/' },
        { text: 'Learn', href: 'https://learn.grey.software/' },
        { text: 'Resources', href: 'https://resources.grey.software/' },
        { text: 'Onboarding', href: 'https://onboarding.grey.software/' },
        { text: 'Glossary', href: 'https://glossary.grey.software/' },
      ],
    }
  },
}
</script>
