<template>
  <section class="container mx-auto px-4 h-hero pt-12 mt-navbar-mobile lg:grid align-items-center">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-1/2 px-8 mb-6 md:mb-12 lg:mb-0 flex flex-col justify-center">
        <div class="w-full text-center lg:text-left">
          <div class="max-w-lg mx-auto lg:mx-0">
            <h2 class="mb-3 text-2xl md:text-4xl lg:text-5xl font-bold text-black">
              We're Democratizing <br />
              Software Education
            </h2>
          </div>
          <div class="max-w-lg mx-auto lg:mx-0">
            <p class="text-base md:text-lg mb-6 text-black font-normal">
              Grey Software is a not-for-profit on a mission to give people access to software they can trust, love, and
              learn from.
            </p>
            <div>
              <cta-primary class="inline-block mb-4 lg:mr-6 lg:w-auto w-full" text="Support Us" link="#support" />
              <cta-secondary class="inline-block lg:w-auto w-full" text="Learn More" link="#features" />
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
        <img class="w-full max-h-72 lg:max-h-96" src="/hero-illustration.svg" alt="" />
      </div>
    </div>
  </section>
</template>
