<template>
  <div class="hidden lg:w-1/5 md:flex items-center pl-4 lg:pl-8 justify-end">
    <div class="flex items-center">
      <!-- Generating nav link from props -->
      <div v-for="(navItem, index) in navItems" :key="index" class="cursor-pointer dropdown inline-block relative">
        <div class="flex items-center mr-10">
          <p class="dark:text-gray-300 text-black-500 hover:text-primary-300 dark-hover:text-primary-500">
            {{ navItem.name }}
          </p>
          <icon-chevron-down class="h-5 w-5" />
        </div>

        <!-- below code is for dropdown with custom class dropdown-menu -->
        <div
          class="absolute bg-white dropdown-menu hidden z-40 right-2 w-96 rounded shadow-lg"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
        >
          <div v-if="navItem.name == 'Socials'">
            <div
              v-for="(socialLink, index) in socialLinks"
              :key="index"
              class="flex justify-center flex-col items-center px-9"
            >
              <a
                class="
                  flex
                  justify-between
                  items-center
                  w-80
                  h-14
                  transition-all
                  hover:w-96
                  hover:px-7
                  border-r-0 border-l-0 border-t-0
                  hover:bg-gray-100
                  border
                "
                :href="socialLink.link"
                target="blank"
              >
                <div class="dark:text-white text-gray-700 block py-4 text-sm">
                  {{ socialLink.name }}
                </div>
                <icon-chevron-right class="h-5 w-5 text-gray-700 dark:text-white" />
              </a>
            </div>
          </div>

          <div v-else>
            <div
              v-for="(ecosystemLink, index) in ecosystemLinks"
              :key="index"
              class="flex justify-center flex-col items-center px-9"
            >
              <a
                class="
                  flex
                  justify-between
                  items-center
                  w-80
                  h-14
                  transition-all
                  hover:w-96
                  hover:px-7
                  border-r-0 border-l-0 border-t-0
                  hover:bg-gray-100
                  border
                "
                :href="ecosystemLink.link"
                target="blank"
              >
                <div class="dark:text-white text-gray-700 block py-4 text-sm">
                  {{ ecosystemLink.name }}
                </div>
                <icon-chevron-right class="h-5 w-5 text-gray-700" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center mr-10">
        <nuxt-link to="/credits" class="hover:text-primary-300"> Credits </nuxt-link>
      </div>
      <cta-button link="#support" text="Support Us" />
    </div>
  </div>
</template>

<script>
import CtaButton from './global/CtaButton.vue'
export default {
  components: { CtaButton },
  data() {
    return {
      navItems: [
        {
          name: 'Ecosystem',
          isAccordian: false,
        },
        {
          name: 'Socials',
          isAccordian: false,
        },
      ],

      socialLinks: [
        {
          name: 'Follow on Twitter',
          link: 'https://twitter.com/grey_software',
        },
        {
          name: 'Visit GitHub',
          link: 'https://github.com/grey-software',
        },
        {
          name: 'Check GitLab',
          link: 'https://gitlab.com/grey-software',
        },
        {
          name: 'Join our Discord',
          link: 'https://discord.com/invite/2CGKQEe9xw',
        },
        {
          name: 'Follow on LinkedIn',
          link: 'https://www.linkedin.com/company/grey-software/',
        },
      ],

      ecosystemLinks: [
        {
          name: 'Organization',
          link: 'https://org.grey.software/',
        },
        {
          name: 'Learn',
          link: 'https://learn.grey.software/',
        },
        {
          name: 'Resources',
          link: 'https://resources.grey.software/',
        },
        {
          name: 'Onboarding',
          link: 'https://onboarding.grey.software/',
        },
        {
          name: 'Glossary',
          link: 'https://glossary.grey.software/',
        },
      ],
    }
  },
}
</script>
