<template>
  <div style="background-color: #f8f8f8">
    <section-title-subtitle-center
      class="mb-16 px-8"
      title=" We're building open products <br /> For an interconnected world"
      desc="Because people deserve to learn from
  software organizations who use the latest technology to compete in the
  market."
    />
    <div class="md:p-12 lg:p-x20">
      <div v-for="(product, index) in products" :key="product.title">
        <project-showcase-right class="mb-12" v-if="index % 2 === 0" :project="product" />
        <project-showcase-left class="mb-12" v-else :project="product" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [
        {
          title: 'Focused Browsing',
          desc: 'Hide and show distracting feeds on popular websites.',
          image: '/prototypes/focused-browsing-prototype.png',
          tags: ['BETA RELEASE', 'BROWSER EXTENSION'],
          primary: {
            text: 'Learn More',
            link: 'https://org.grey.software/focused-browsing',
          },
          secondary: {
            text: 'Project Repo',
            link: 'https://gitlab.com/grey-software/focused-browsing',
          },
        },
        {
          title: 'Grey Docs',
          desc: 'Create stunning documentation websites with Markdown and Vue.',
          image: '/prototypes/grey-docs-prototype.png',
          tags: ['ALPHA RELEASE', 'NUXT THEME'],
          primary: {
            text: 'View Demo',
            link: 'https://grey-docs.grey.software',
          },
          secondary: {
            text: 'Project Repo',
            link: 'https://gitlab.com/grey-software/templates/grey-docs',
          },
        },
        {
          title: 'Material Math',
          desc: 'Practice math problems in a fun and engaging environment.',
          image: '/prototypes/material-math-prototype.png',
          tags: ['IN DEVELOPMENT', 'WEB APP'],
          primary: {
            text: 'View Demo',
            link: 'https://material-math.grey.software',
          },
          secondary: {
            text: 'Project Repo',
            link: 'https://gitlab.com/grey-software/nest/material-math',
          },
        },
      ],
    }
  },
}
</script>
