<template>
<div>
        <transition
        enter-class="opacity-0"
        enter-active-class="ease-out transition-medium"
        enter-to-class="opacity-100"
        leave-class="opacity-100"
        leave-active-class="ease-out transition-medium"
        leave-to-class="opacity-0"
      >
        <div @keydown.esc="isOpen = false" v-show="isOpen" class="z-10 fixed inset-0 transition-opacity">
          <div @click="drawer" class="absolute inset-0 bg-white" tabindex="0"></div>
        </div>
      </transition>
      <aside
        class="p-5 transform top-0 right-0 w-80 bg-gray-100 fixed h-full ease-in-out transition-all duration-300 z-30"
        :class="isOpen ? 'translate-x-0' : 'translate-x-full'"
      >
        <div class="close">
          <button class="absolute top-0 right-0 mt-4 mr-4" @click="drawer">
            <IconX />
          </button>
        </div>

        <div @click="drawer" class="flex w-full items-center p-4 border-b">
          <GreySoftwareLogo />
        </div>

        <div class="flex flex-col justify-start items-center w-56 h-80 ml-4 mt-10">
          <div v-for="(navItem, index) in navItems" :key="index">
            <div
              @click="toggleDrop(navItem)"
              class="flex flex-row justify-between items-center p-0 static w-56 h-10 left-0 mt-2 hover:cursor-pointer"
            >
              <div>
                {{ navItem.name }}
              </div>
              <icon-chevron-down
                v-if="isOpenDrop && navItem.isAccordian"
                class="h-5 w-5 text-gray-700 dark:text-white"
              />
              <icon-chevron-right v-else class="h-5 w-5 text-gray-700 dark:text-white" />
            </div>

            <div v-if="navItem.name == 'Ecosystem'">
              <div
                class="flex-col justify-center items-start static w-56 h-24 mt-16 mb-10 pl-6"
                :class="isOpenDrop && navItem.isAccordian ? 'flex' : 'hidden'"
              >
                <div v-for="(ecosystemLink, index) in ecosystemLinks" :key="index">
                  <div class="mb-4">
                    <a
                      :href="ecosystemLink.link"
                      class="static w-24 not-italic font-normal text-base leading-5 text-gray-600"
                      >{{ ecosystemLink.name }}</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div v-else-if="navItem.name == 'Socials'">
              <div
                class="flex-col justify-center items-start static w-56 h-24 mt-16 mb-10 pl-6"
                :class="isOpenDrop && navItem.isAccordian ? 'flex' : 'hidden'"
              >
                <div v-for="(socialLink, index) in socialLinks" :key="index">
                  <div class="mb-4">
                    <a
                      :href="socialLink.link"
                      class="static w-24 not-italic font-normal text-base leading-5 text-gray-600"
                      >{{ socialLink.name }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div @click="drawer" class="flex flex-row justify-between items-center p-0 static w-56 h-10 left-0 mt-2">
            <nuxt-link to="/credits" > Credits </nuxt-link>
          </div>
        </div>
        <p class="absolute w-50 h-4 not-italic font-medium text-sm leading-4 text-gray-900 ml-16 bottom-14">
          Made with Love, Joy and Hope
        </p>
      </aside>
  </div>    
</template>


<script>
export default {
  props : {
      isOpen : {type : Boolean}
  },

  data() {
    return {
      navItems: [
        {
          name: 'Ecosystem',
          isAccordian: false,
        },
        {
          name: 'Socials',
          isAccordian: false,
        },
      ],

      socialLinks: [
        {
          name: 'Follow on Twitter',
          link: 'https://twitter.com/grey_software',
        },
        {
          name: 'Visit GitHub',
          link: 'https://github.com/grey-software',
        },
        {
          name: 'Check GitLab',
          link: 'https://gitlab.com/grey-software',
        },
        {
          name: 'Join our Discord',
          link: 'https://discord.com/invite/2CGKQEe9xw',
        },
        {
          name: 'Follow on LinkedIn',
          link: 'https://www.linkedin.com/company/grey-software/',
        },
      ],

      ecosystemLinks: [
        {
          name: 'Learn',
          link: 'https://learn.grey.software/',
        },
        {
          name: 'Resources',
          link: 'https://resources.grey.software/',
        },
        {
          name: 'Onboarding',
          link: 'https://onboarding.grey.software/',
        },
        {
          name: 'Organization',
          link: 'https://org.grey.software/',
        },
        {
          name: 'Glossary',
          link: 'https://glossary.grey.software/',
        },
      ],
      isOpen: false,
      isOpenDrop: true,
    }
  },

  methods: {
      drawer () {
          this.$emit('drawer');
      },

    toggleDrop(paramId) {
      console.log("this is click event")
      paramId.isAccordian = !paramId.isAccordian;
      let newItem =this.navItems.filter((nav, index) => paramId.name != nav.name)  
      newItem[0].isAccordian=false;
    },
    
  }
}
</script>