<template>
  <div class="container pt-16 pb-10 mx-auto">
    <section-title-subtitle-center
      title="Help us build the <br /> Future of software education"
      desc="We need your support in order to pay for infrastructure and allow our team members to make a living doing something important!"
    />

    <div class="px-8 lg:pl-26 py-14 lg:pt-26 flex flex-wrap items-center">
      <div class="mb-20">
        <div class="max-w-xl lg:mx-auto">
          <h2 class="mb-8 text-black-500 md:text-2xl text-xl font-semibold font-heading">
            Become a Grey Software Sponsor
          </h2>
          <p class="text-black-500 text-base w-full md:w-120 font-normal leading-normal">
            Individual monthly sponsors power our organization with regular revenue and make our meaningful work
            possible. In return, we offer software and recognition.
          </p>
        </div>
      </div>

      <div class="flex flex-wrap">
        <support-sponsor-card
          v-for="tier in sponsorshipTiers"
          :key="tier.title"
          :tier="tier.tier"
          :title="tier.title"
          :link="tier.link"
          class="md: mr-6 lg:mr-10"
        />
      </div>

      <div class="w-full flex flex-wrap items-center justify-center pt-20">
        <div class="mb-12 lg:mb-0">
          <div class="max-w-xl lg:mx-auto">
            <h2 class="mb-8 text-black-500 md:text-2xl text-xl font-semibold font-heading">Make a Donation</h2>
            <p class="mb-6 text-black-500 text-base w-full md:w-120 font-normal leading-normal">
              Since we started, we've recieved generous donations from people all around the world. <br />
            </p>
            <p class="mb-6 text-black-500 text-base w-full md:w-120 font-normal leading-normal">
              These donations have helped us cover our infrastructure costs and pay our team members to further the
              cuase of democratized software education.
            </p>
          </div>
        </div>

        <div class="w-full lg:w-1/2 flex flex-col lg:px-20 items-center justify-center">
          <cta-support
            class="my-3 mx-6"
            v-for="cta in donationCtas"
            :key="cta.text"
            :text="cta.text"
            :link="cta.link"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SupportSponsorCard from './global/SupportSponsorCard.vue'
export default {
  components: { SupportSponsorCard },
  data() {
    return {
      donationCtas: [
        {
          text: 'Paypal',
          link: 'https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=VEAGAZP7DHJNE&source=url',
        },
        {
          text: 'Github',
          link: 'https://github.com/sponsors/grey-software?frequency=one-time',
        },
        {
          text: 'Open Collective',
          link: 'https://opencollective.com/grey-software/donate',
        },
      ],
      sponsorshipTiers: [
        {
          tier: '$5 / month',
          title: 'Core Grey',
          link: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=39311',
        },
        {
          tier: '$10 / month',
          title: 'Blue Grey',
          link: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=39312',
        },
        {
          tier: '$20 / month',
          title: 'True Grey',
          link: 'https://github.com/sponsors/grey-software/sponsorships?tier_id=39313',
        },
      ],
    }
  },
}
</script>


