.dropdown:hover .dropdown-menu {
  display: block !important;
}
.customAside {
  background: #f8f8f8;
  /* shadow */

  box-shadow: 0px 4px 10px rgba(24, 24, 24, 0.05);
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-enter-active {
  transition: all 2s ease;
}
