<template>
  <div>
    <app-header />
    <Nuxt />
    <Footer />
  </div>
</template>

<script>

export default {

  mounted() {
    this.$toast.show("🎉 We're celebrating one year of being incorporated in Canada 🇨🇦 with a brand new website! 🚧", {
      position: 'top-center',
      duration: 3434,
      keepOnHover: true,
    })
  },
}
</script>

<style>
*,
*::before,
*::after {
  margin: 0;
}
</style>
