<template>
  <section class="container mx-auto py-20 mt-10">
    <section-title-subtitle-left
      title="Thank you for helping us <br /> Sustain open software education!"
      desc="We genuinely mean that! It's because of your generosity that we can pay for infrastructure and allow our team members to make a living by creating open software education!"
      class="mb-16"
    />

    <section-title-center title="True Grey Sponsors" class="py-12" />

    <div class="flex flex-wrap justify-center md:justify-start mb-4">
      <SponsorCard class="m-4" v-for="sponsor in trueGreySponsors" :key="sponsor.name" :sponsor="sponsor"></SponsorCard>
    </div>

    <section-title-center title="Blue Grey Sponsors" class="py-12" />

    <div class="flex flex-wrap justify-center md:justify-start mb-4">
      <SponsorCard class="m-4" v-for="sponsor in blueGreySponsors" :key="sponsor.name" :sponsor="sponsor"></SponsorCard>
    </div>

    <section-title-center title="Core Grey Sponsors" class="py-12" />

    <div class="flex flex-wrap justify-center md:justify-start mb-4">
      <SponsorCard class="m-4" v-for="sponsor in coreGreySponsors" :key="sponsor.name" :sponsor="sponsor"></SponsorCard>
    </div>

    <section-title-center title="Individual Donors" class="py-12" />

    <div class="flex flex-wrap justify-center md:justify-start mb-4">
      <DonorCard class="m-4" v-for="donor in donors" :key="donor.name" :donor="donor" />
    </div>
  </section>
</template>

<script>
import SectionTitleSubtitleLeft from '../components/global/SectionTitleSubtitleLeft.vue'

const sortByDate = (first, second) => {
  return Date.parse(second.date) - Date.parse(first.date)
}

const sortByAmount = (first, second) => {
  return Date.parse(second.amount) - Date.parse(first.amount)
}

export default {
  components: { SectionTitleSubtitleLeft },
  async asyncData({ $content }) {
    const sponsorsDataStore = await $content('sponsors').fetch()
    const donorsDataStore = await $content('donors').fetch()

    const sponsors = sponsorsDataStore.sponsors
    const donors = donorsDataStore.donors.sort(sortByDate)
    let coreGreySponsors = []
    let blueGreySponsors = []
    let trueGreySponsors = []

    for (const sponsor of sponsors) {
      if (sponsor.amount === '20') {
        trueGreySponsors.push(sponsor)
      } else if (sponsor.amount === '10') {
        blueGreySponsors.push(sponsor)
      } else {
        coreGreySponsors.push(sponsor)
      }
    }

    coreGreySponsors = coreGreySponsors.sort(sortByDate).sort(sortByAmount)
    blueGreySponsors = blueGreySponsors.sort(sortByDate)
    trueGreySponsors = trueGreySponsors.sort(sortByDate)

    return {
      donors,
      coreGreySponsors,
      blueGreySponsors,
      trueGreySponsors,
    }
  },
}
</script>
