<template>
  <div>
    <Hero />
    <Features id="features" />
    <Products id="products" />
    <SupportUs id="support"><span id="support-anchor"></span></SupportUs>
  </div>
</template>

<style>
#support {
  position: relative;
}
#support #support-anchor {
  position: absolute;
  top: -200px;
}
</style>
