<template>
  <a
    :href="link"
    class="
      transition-all
      focus:outline-none
      text-md
      py-2
      px-5
      w-36
      rounded-md
      border-black-500
      hover:border-black-800
      border
      text-center
    "
  >
    {{ text }}
  </a>
</template>

<script>
export default {
  props: {
    text: String,
    link: String,
  },
}
</script>
