<template>
  <a
    :href="link"
    class="
      block
      transition-all
      focus:outline-none
      text-white text-md text-center
      py-2
      px-4
      lg:px-7
      max-w-32
      rounded-md
      bg-black-500
      border border-black-500
      hover:border-black-800
      dark:border-gray-400
      dark-hover:border-gray-50
    "
  >
    {{ text }}
  </a>
</template>

<script>
export default {
  props: {
    text: String,
    link: String,
  },
}
</script>
