<template>
  <a
    :href="link"
    class="
      block
      transition-all
      focus:outline-none
      dark:text-white
      text-md text-center text-secondary-500
      py-2
      px-4
      lg:px-7
      max-w-32
      rounded-md
      border border-secondary-500
      hover:border-secondary-800
    "
  >
    {{ text }}
  </a>
</template>

<script>
export default {
  props: {
    text: String,
    link: String,
  },
}
</script>
