<template>
  <a
    :href="link"
    class="
      block
      w-full
      py-2
      px-4
      lg:px-7
      text-secondary-500
      hover:text-gray-100
      transition-colors
      duration-150
      bg-transparent
      rounded-lg
      focus:shadow-outline
      hover:bg-gray-800
      border border-secondary-500
      text-center
    "
  >
    {{ text }}
  </a>
</template>

<script>
export default {
  props: {
    text: String,
    link: String,
  },
}
</script>