<template>
  <div
    class="
      flex flex
      w-full
      sm:w-56
      lg:w-88
      bg-black-600
      font-sans
      dark:bg-black-500
      px-4
      py-2
      mb-8
      rounded-xl
      shadow-xl
    "
  >
    <div class="flex-auto px-2 pt-4">
      <div class="flex flex-wrap items-center">
        <p class="flex-auto text-xl font-semibold text-white dark:text-white">
          {{ donor.name }}
        </p>
        <div class="text-xs text-white dark:text-gray-500">
          <div class="flex py-4 items-center">
            <span class="relative pr-1">
              <IconCalender class="h-4 w-4" />
            </span>
            {{ donor.date }}
          </div>
        </div>
        <div class="w-full flex-none pb-4 text-sm text-white dark:text-gray-300">DONATED: {{ donor.amount }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    donor: {
      name: String,
      amount: String,
      date: String,
    },
  },
}
</script>

<style>
</style>