<template>
  <svg width="175" height="32" viewBox="0 0 239 36" fill="none">
    <g clip-path="url(#clip0)">
      <path d="M11.7494 0V7.43088L4.24916 0H0V4.22301L7.47689 11.6771H0V16.8166H16.9208V0H11.7494Z" fill="#fff" />
      <path
        d="M0 24.317H7.47689L0 31.7711V35.9999H4.24916L11.7494 28.5632V35.9999H16.9208V19.1833H0V24.317Z"
        fill="#fff"
      />
      <path
        d="M19.7867 5.13373H27.2636L19.7867 12.5878V16.8166H24.0359L31.5361 9.37998V16.8166H36.7017V0H19.7867V5.13373Z"
        fill="#fff"
      />
      <path
        d="M24.9522 35.9999V28.5691L32.4525 35.9999H36.7017V31.7711L29.2248 24.317H36.7017V19.1833H19.7867V35.9999H24.9522Z"
        fill="#fff"
      />
      <path
        d="M45.445 17.0315C45.445 10.4533 50.1961 5.45303 56.7215 5.45303C62.5003 5.45303 66.405 8.96255 67.7825 13.5858H63.7843C62.9379 10.7318 60.4748 8.52747 56.6285 8.52747C52.1926 8.52747 49.0056 11.8514 49.0056 17.0953C49.0056 22.0318 52.035 25.756 57.031 25.756C61.1869 25.756 63.8076 23.2094 64.4322 19.3924H56.6926V16.6603H68.0626C68.1851 23.8011 63.7843 28.6738 56.9085 28.6738C50.4472 28.6738 45.445 23.8011 45.445 17.0315Z"
        fill="#fff"
      />
      <path
        d="M73.9051 28.2095H70.7475V11.7525H73.6834V15.2272C74.8392 12.9591 77.337 11.5321 80.0574 11.5321V14.7922C76.4968 14.6065 73.9051 16.1554 73.9051 19.7925V28.2095Z"
        fill="#fff"
      />
      <path
        d="M79.9343 19.891C79.9343 15.0183 83.2789 11.445 87.8373 11.445C92.7754 11.445 96.0559 15.4185 95.4896 20.7611H83.1507C83.4014 24.1141 85.0884 26.0689 87.8667 26.0689C90.2074 26.0689 91.8355 24.7985 92.3667 22.6522H95.4896C94.6784 26.3184 91.8355 28.5227 87.9308 28.5227C83.1507 28.5169 79.9343 25.0712 79.9343 19.891ZM83.1797 18.6787H92.145C91.9874 15.6332 90.3355 13.8059 87.7732 13.8059C85.246 13.8059 83.5243 15.6042 83.1797 18.6787Z"
        fill="#fff"
      />
      <path
        d="M102.394 34.2015H98.9567L101.332 27.9946L94.8008 11.7581H98.2034L103.013 24.2995L107.478 11.7581H110.665L102.394 34.2015Z"
        fill="#fff"
      />
      <path
        d="M127.539 28.517C122.134 28.517 118.854 25.5701 118.574 21.1267H122.07C122.227 23.9517 124.037 25.7847 127.475 25.7847C130.317 25.7847 132.442 24.4505 132.442 22.1534C132.442 20.2914 131.222 19.3574 128.63 18.8006L125.379 18.1799C122.222 17.5592 119.35 15.9755 119.35 12.1876C119.35 8.42867 122.659 5.60364 127.317 5.60364C131.969 5.60364 135.501 8.42867 135.781 12.8663H132.285C132.098 10.1979 130.16 8.33586 127.346 8.33586C124.44 8.33586 122.846 10.0413 122.846 11.9672C122.846 14.0787 124.691 14.8212 126.781 15.2562L130.09 15.9059C133.93 16.6832 136.09 18.3597 136.09 21.6835C136.096 25.5701 132.973 28.517 127.539 28.517Z"
        fill="#fff"
      />
      <path
        d="M136.907 19.9838C136.907 15.1111 140.345 11.445 145.032 11.445C149.719 11.445 153.157 15.1111 153.157 19.9838C153.157 24.8565 149.719 28.5227 145.032 28.5227C140.345 28.5169 136.907 24.8565 136.907 19.9838ZM149.906 19.9838C149.906 16.3815 147.752 14.241 145.032 14.241C142.312 14.241 140.187 16.3815 140.187 19.9838C140.187 23.5862 142.312 25.7615 145.032 25.7615C147.752 25.7557 149.906 23.5804 149.906 19.9838Z"
        fill="#fff"
      />
      <path
        d="M156.093 28.2098V14.427H152.439V11.7586H156.093V10.5462C156.093 7.37895 157.809 5.6387 160.937 5.6387C161.877 5.6387 162.624 5.7953 163.248 6.04476V8.59132C162.746 8.37668 162.186 8.31289 161.626 8.31289C160.126 8.31289 159.25 8.99737 159.25 10.581V11.7586H163.873V14.427H159.25V28.2098H156.093Z"
        fill="#fff"
      />
      <path
        d="M175.394 27.9313C174.426 28.3663 173.585 28.523 172.581 28.523C169.523 28.523 167.398 26.8755 167.398 23.2442V14.4269H163.744V11.7585H167.398V6.8858H170.556V11.7585H175.552L175.826 14.4269H170.55V22.5307C170.55 24.7988 171.642 25.6051 173.328 25.6051C174.075 25.6051 174.735 25.4833 175.389 25.1701V27.9313H175.394Z"
        fill="#fff"
      />
      <path
        d="M186.736 15.9755L182.954 28.2095H179.767L174.987 11.7525H178.08L181.424 23.737L185.171 11.7525H188.294L191.983 23.7661L195.328 11.7525H198.45L193.641 28.2095H190.483L186.736 15.9755Z"
        fill="#fff"
      />
      <path
        d="M209.131 25.6631C208.098 27.4962 206.259 28.5171 203.82 28.5171C200.382 28.5171 198.135 26.5623 198.135 23.5516C198.135 20.3206 200.727 18.6441 205.664 18.6441C206.633 18.6441 207.415 18.6731 208.758 18.8298V17.6174C208.758 15.2565 207.479 13.9223 205.291 13.9223C202.979 13.9223 201.573 15.2854 201.479 17.5884H198.608C198.765 13.8932 201.421 11.4395 205.291 11.4395C209.382 11.4395 211.758 13.7366 211.758 17.6464V28.2039H209.131V25.6631ZM204.444 26.2838C207.1 26.2838 208.758 24.6364 208.758 22.1246V20.7904C207.538 20.6338 206.662 20.6048 205.851 20.6048C202.693 20.6048 201.135 21.5388 201.135 23.4588C201.135 25.1643 202.413 26.2838 204.444 26.2838Z"
        fill="#fff"
      />
      <path
        d="M217.157 28.2095H213.999V11.7525H216.935V15.2272C218.091 12.9591 220.589 11.5321 223.309 11.5321V14.7922C219.748 14.6065 217.157 16.1554 217.157 19.7925V28.2095Z"
        fill="#fff"
      />
      <path
        d="M223.186 19.891C223.186 15.0183 226.531 11.445 231.089 11.445C236.027 11.445 239.308 15.4185 238.741 20.7611H226.408C226.659 24.1141 228.346 26.0689 231.124 26.0689C233.465 26.0689 235.093 24.7985 235.625 22.6522H238.747C237.936 26.3184 235.093 28.5227 231.189 28.5227C226.408 28.5169 223.186 25.0712 223.186 19.891ZM226.438 18.6787H235.402C235.245 15.6332 233.593 13.8059 231.031 13.8059C228.498 13.8059 226.782 15.6042 226.438 18.6787Z"
        fill="#fff"
      />
    </g>
  </svg>
</template>
