<template>
  <svg width="160" height="24" viewBox="0 0 160 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
      <path d="M7.83293 0V4.95392L2.83278 0H0V2.81534L4.9846 7.78472H0V11.2111H11.2805V0H7.83293Z" fill="#181818" />
      <path d="M0 16.2114H4.9846L0 21.1808V24H2.83278L7.83293 19.0422V24H11.2805V12.7889H0V16.2114Z" fill="#181818" />
      <path
        d="M13.1912 3.42249H18.1758L13.1912 8.39189V11.2111H16.0239L21.0241 6.25332V11.2111H24.4678V0H13.1912V3.42249Z"
        fill="#181818"
      />
      <path
        d="M16.6349 24V19.0461L21.635 24H24.4678V21.1808L19.4832 16.2114H24.4678V12.7889H13.1912V24H16.6349Z"
        fill="#181818"
      />
      <path
        d="M30.2966 11.3544C30.2966 6.96891 33.464 3.63538 37.8143 3.63538C41.6668 3.63538 44.27 5.97505 45.1883 9.05723H42.5228C41.9586 7.15456 40.3165 5.685 37.7523 5.685C34.795 5.685 32.6703 7.90093 32.6703 11.3969C32.6703 14.6879 34.69 17.1707 38.0206 17.1707C40.7912 17.1707 42.5383 15.473 42.9548 12.9283H37.795V11.1069H45.375C45.4567 15.8674 42.5228 19.1159 37.939 19.1159C33.6314 19.1159 30.2966 15.8674 30.2966 11.3544Z"
        fill="#181818"
      />
      <path
        d="M49.2701 18.8064H47.165V7.83507H49.1223V10.1515C49.8929 8.63945 51.5581 7.68811 53.3716 7.68811V9.86152C50.9979 9.73774 49.2701 10.7703 49.2701 13.1951V18.8064Z"
        fill="#181818"
      />
      <path
        d="M53.2896 13.2607C53.2896 10.0122 55.5193 7.63 58.5582 7.63C61.8503 7.63 64.0373 10.2791 63.6597 13.8408H55.4338C55.6009 16.0761 56.7256 17.3793 58.5778 17.3793C60.1382 17.3793 61.2237 16.5324 61.5778 15.1015H63.6597C63.1189 17.5456 61.2237 19.0152 58.6205 19.0152C55.4338 19.0113 53.2896 16.7141 53.2896 13.2607ZM55.4531 12.4525H61.43C61.3249 10.4221 60.2237 9.20397 58.5155 9.20397C56.8307 9.20397 55.6829 10.4028 55.4531 12.4525Z"
        fill="#181818"
      />
      <path
        d="M68.263 22.8011H65.9712L67.5548 18.6631L63.2007 7.83875H65.469L68.6754 16.1997L71.6522 7.83875H73.7769L68.263 22.8011Z"
        fill="#181818"
      />
      <path
        d="M85.0262 19.0113C81.423 19.0113 79.236 17.0467 79.0493 14.0844H81.38C81.4851 15.9677 82.6914 17.1898 84.9835 17.1898C86.8784 17.1898 88.2948 16.3003 88.2948 14.7689C88.2948 13.5275 87.4816 12.9049 85.7537 12.5337L83.5863 12.1199C81.4813 11.7061 79.5667 10.6503 79.5667 8.12502C79.5667 5.61907 81.773 3.73572 84.8784 3.73572C87.9796 3.73572 90.3338 5.61907 90.5205 8.57748H88.1898C88.0651 6.79858 86.7733 5.5572 84.8977 5.5572C82.9601 5.5572 81.8977 6.69415 81.8977 7.97807C81.8977 9.38575 83.1274 9.88074 84.5205 10.1708L86.7265 10.6039C89.2869 11.1221 90.7268 12.2398 90.7268 14.4557C90.7306 17.0467 88.6489 19.0113 85.0262 19.0113Z"
        fill="#181818"
      />
      <path
        d="M91.2712 13.3226C91.2712 10.0741 93.5633 7.63 96.688 7.63C99.8126 7.63 102.104 10.0741 102.104 13.3226C102.104 16.571 99.8126 19.0152 96.688 19.0152C93.5633 19.0113 91.2712 16.571 91.2712 13.3226ZM99.937 13.3226C99.937 10.921 98.5013 9.49402 96.688 9.49402C94.8747 9.49402 93.4582 10.921 93.4582 13.3226C93.4582 15.7241 94.8747 17.1743 96.688 17.1743C98.5013 17.1705 99.937 15.7203 99.937 13.3226Z"
        fill="#181818"
      />
      <path
        d="M104.062 18.8065V9.618H101.626V7.83907H104.062V7.03083C104.062 4.91932 105.206 3.75916 107.292 3.75916C107.918 3.75916 108.416 3.86356 108.832 4.02986V5.72757C108.498 5.58447 108.124 5.54195 107.751 5.54195C106.751 5.54195 106.167 5.99827 106.167 7.05404V7.83907H109.249V9.618H106.167V18.8065H104.062Z"
        fill="#181818"
      />
      <path
        d="M116.93 18.6209C116.284 18.9109 115.724 19.0153 115.054 19.0153C113.015 19.0153 111.599 17.917 111.599 15.4962V9.61799H109.163V7.83907H111.599V4.59058H113.704V7.83907H117.035L117.218 9.61799H113.7V15.0205C113.7 16.5326 114.428 17.0701 115.552 17.0701C116.05 17.0701 116.49 16.9889 116.926 16.7801V18.6209H116.93Z"
        fill="#181818"
      />
      <path
        d="M124.491 10.6503L121.969 18.8063H119.844L116.658 7.83496H118.72L120.949 15.8247L123.448 7.83496H125.53L127.989 15.844L130.218 7.83496H132.3L129.094 18.8063H126.989L124.491 10.6503Z"
        fill="#181818"
      />
      <path
        d="M139.421 17.1088C138.732 18.3308 137.506 19.0114 135.88 19.0114C133.588 19.0114 132.09 17.7082 132.09 15.7011C132.09 13.5471 133.818 12.4294 137.109 12.4294C137.755 12.4294 138.277 12.4488 139.172 12.5532V11.7449C139.172 10.171 138.319 9.28152 136.86 9.28152C135.32 9.28152 134.382 10.1903 134.32 11.7256H132.405C132.51 9.26218 134.281 7.62634 136.86 7.62634C139.588 7.62634 141.172 9.15778 141.172 11.7643V18.8026H139.421V17.1088ZM136.296 17.5226C138.067 17.5226 139.172 16.4243 139.172 14.7498V13.8603C138.358 13.7559 137.775 13.7366 137.234 13.7366C135.129 13.7366 134.09 14.3592 134.09 15.6392C134.09 16.7762 134.942 17.5226 136.296 17.5226Z"
        fill="#181818"
      />
      <path
        d="M144.771 18.8064H142.666V7.83507H144.623V10.1515C145.394 8.63945 147.059 7.68811 148.873 7.68811V9.86152C146.499 9.73774 144.771 10.7703 144.771 13.1951V18.8064Z"
        fill="#181818"
      />
      <path
        d="M148.791 13.2607C148.791 10.0122 151.02 7.63 154.06 7.63C157.351 7.63 159.538 10.2791 159.161 13.8408H150.939C151.106 16.0761 152.231 17.3793 154.083 17.3793C155.643 17.3793 156.729 16.5324 157.083 15.1015H159.165C158.624 17.5456 156.729 19.0152 154.126 19.0152C150.939 19.0113 148.791 16.7141 148.791 13.2607ZM150.958 12.4525H156.935C156.83 10.4221 155.729 9.20397 154.021 9.20397C152.332 9.20397 151.188 10.4028 150.958 12.4525Z"
        fill="#181818"
      />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="159.204" height="24" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
