<template>
  <div class="px-6 lg:px-16 md:py-20">
    <div class="flex flex-wrap -mx-4">
      <div class="mb-2.5 w-full sm:w-1/2 md:w-7/12 px-4 flex items-center justify-center">
        <img class="max-h-64 md:max-h-96" :src="project.image" />
      </div>
      <div class="w-full sm:w-1/2 md:w-5/12 mb-12 md:mb-20 lg:mb-0 flex justify-center items-center">
        <div class="mx-auto lg:mx-0">
          <div class="max-w-md mx-auto lg:mx-0">
            <h2 class="mb-4 text-xl lg:text-2xl font-semibold">
              {{ project.title }}
            </h2>
          </div>

          <p class="max-w-xs text-base lg:text-lg mb-4">
            {{ project.desc }}
          </p>
          <div
            v-for="tag in project.tags"
            :key="tag"
            class="inline-block text-xs text-gray-500 capitalize font-semibold mr-8"
          >
            {{ tag }}
          </div>
          <div class="mt-16">
            <cta-primary
              class="inline-block mb-4 lg:mr-6 lg:w-auto w-full"
              :text="project.primary.text"
              :link="project.primary.link"
            />
            <cta-secondary
              class="inline-block lg:w-auto w-full"
              :text="project.secondary.text"
              :link="project.secondary.link"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    project: {
      title: {
        type: String,
        default: '',
      },
      desc: {
        type: String,
        default: '',
      },
      image: {
        type: String,
        default: '',
      },
      tags: {
        type: Array,
        default: [],
      },
      primary: {
        type: Object,
        default: {},
      },
      secondary: {
        type: Object,
        default: {},
      },
    },
  },
}
</script>

<style></style>
