<template>
  <div class="mx-auto flex flex-col text-center items-center py-12 text-black-500 px-0 md:px-4 lg:px-0">
    <h3 v-if="titleHasLineBreak" class="mb-4 tracking-normal text-2xl md:text-section-title leading-10 font-bold">
      {{ splitTitle[0] }}<br />
      {{ splitTitle[1] }}
    </h3>
    <h3 v-else class="mb-4">
      {{ title }}
    </h3>
    <p class="text-base md:text-lg max-w-xl">{{ desc }}</p>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    desc: {
      type: String,
      default: 'Description',
    },
  },
  computed: {
    titleHasLineBreak() {
      return this.title.includes('<br />')
    },
    splitTitle() {
      return this.title.split('<br />').map((it) => {
        return it.trim()
      })
    },
  },
}
</script>
