<template>
  <div class="container mx-auto flex flex-col text-center items-center">
    <h2 class="mt-2 mb-4 text-3xl lg:text-4xl font-bold font-heading max-w-xl">
      {{ title }}
    </h2>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
  },
}
</script>
