<template>
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap -mx-4 items-center mb-12 lg:mb-16">
      <div class="w-full lg:w-2/3 px-4">
        <div class="leading-5">
          <h2 v-if="titleHasLineBreak" class="mt-2 mb-4 text-3xl lg:text-4xl font-bold font-sans">
            {{ splitTitle[0] }}<br />
            {{ splitTitle[1] }}
          </h2>
          <h2 v-else class="mt-2 mb-4 text-3xl lg:text-4xl font-bold font-sans">
            {{ title }}
          </h2>
          <div>
            <p class="mb-6 lg:mb-0 text-lg text-justify font-sans">
              {{ desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    desc: {
      type: String,
      default: 'Description',
    },
  },
  computed: {
    titleHasLineBreak() {
      return this.title.includes('<br />')
    },
    splitTitle() {
      return this.title.split('<br />').map((it) => {
        return it.trim()
      })
    },
  },
}
</script>
