<template>
  <div class="flex w-full sm:w-64 lg:w-88 bg-black-600 font-sans dark:bg-black-500 px-4 py-2 mb-8 rounded-xl shadow-xl">
    <div class="flex-auto px-2 pt-4">
      <div class="flex flex-wrap items-center">
        <p class="flex-auto text-xl font-semibold text-white dark:text-white">
          {{ sponsor.username }}
        </p>
        <div class="text-xs text-white dark:text-gray-500">
          <div class="flex py-4 items-center">
            <span class="relative pr-1">
              <IconCalender class="h-4 w-4" />
            </span>
            {{ sponsor.amount }}$/Month
          </div>
        </div>
        <div class="w-full flex-none font-extralight text-sm text-white dark:text-gray-300">
          {{ sponsor.date }}
        </div>
      </div>
      <a
        v-if="sponsor.username != 'Private'"
        :href="`https://github.com/${sponsor.username}`"
        class="flex py-4 items-center"
      >
        <span class="relative pr-1">
          <IconGithub class="h-4 w-4 text-white" />
        </span>
        <p class="text-md text-white dark:text-white">Github</p>
        >
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    sponsor: {
      username: String,
      amount: String,
      date: String,
    },
  },
}
</script>

<style>
</style>